/** @format */
@import '../../assets/scss/index.scss';
.header {
	background-color: $gray;
	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2rem 0;
		width: 100%;

		&-logo {
			width: 5rem;
			height: 5rem;
			img {
				width: 100%;
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}

		&-menu {
			display: flex;
			justify-content: space-between;
			margin: 0 2rem;

			.menu__item {
				padding: 1.5rem;
				cursor: pointer;
				text-transform: uppercase;
				color: $text-color;
				font-weight: 600;
				font-size: 1.6rem;
				&:hover {
					color: $blue;
				}
			}
			.active {
				color: $blue;
			}
		}
		&-user {
			font-size: 1.5rem;

			.user__btn {
				padding: 0.6rem 1.5rem;
				margin: 0 1rem;
				color: $text-color;
				cursor: pointer;
				border-radius: 3px;
				transition: all 0.35s linear;
				font-weight: 600;

				&:hover {
					background-color: $light-blue;
					color: $text-white;
				}
			}
		}
	}
}
