/** @format */

.sidebar {
	position: fixed;
	left: 0;
	top: 64px;
	bottom: 0;
	height: 100%;
	&__heading {
		font-size: 18px;
		color: rgb(117, 115, 115);
		margin-left: 20px;
		padding-top: 30px;
	}
	&__list {
		font-size: 15px;

		&:hover {
			color: rgb(75, 56, 247);
		}
	}
	&__type {
		font-size: 16px;
		padding-left: 20px;
		font-weight: 500;
	}
	&__checkbox {
		padding-left: 20px;
	}
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
	padding-top: 5px;
	padding-bottom: 0px;
}
